@font-face {
  font-family: 'Monument-Ultra';
  src: url('./assets/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Monument-Regular';
  src: url('./assets/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Supply mono';
  src: url('./assets/fonts/Supply-Regular.otf') format('opentype');
  font-display: swap;
}

#root {
  --font-monument: 'Monument-Ultra';
  --font-monument-regular: 'Monument-Regular';
  --font-supply: 'Supply mono';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-monument);
  background-color: #fff;
  overflow-x: hidden;
}

a {
  font-family: var(--font-supply);
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
}

.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 5rem;
}

h1 {
  width: 80%;
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05rem;
  font-family: var(--font-monument);
  color: #0f0f0f;
}

.blocks__container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  width: 100%;
  display: flex;
}

.block {
  position: relative;
  flex: 1;
  background: #667067;
  margin: -0.25px;
}

.transition__in .block {
  transform-origin: top;
}

.transition__out .block {
  transform-origin: bottom;
}

.preloader__wrapper {
  font-family: var(--font-monument);
  font-variation-settings: 'slnt' 0;
  font-size: 20px;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.button {
  border: none;
  background: black;
  color: white;
  padding: 12px 40px;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-monument-regular);
}

.button--white {
  background-color: white;
  color: black;
  position: relative;
  top: 100px;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-inline: 24px;
  font-family: var(--font-monument-regular);
}

.header__logo {
  font-size: 40px;
}

.preloader {
  overflow: hidden;
  opacity: 1;
}

.preloader__background {
  position: fixed;
  inset: 0;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.preloader__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  line-height: 1;
  z-index: 6;
  color: white;
}

.preloader__text span {
  display: block;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding-inline: 24px;
}

.hero__wrapper {
  border-radius: 16px;
  overflow: hidden;
  height: calc(100vh - 124px);
  margin-inline: 24px;
}

.hero__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /*z-index: -1; */
  overflow: hidden;
}

.hero__caption {
  overflow: hidden;
  margin-bottom: 32px;
  font-size: 18px;
  color: #fff;
  position: relative;
  z-index: 2;
  top: -100px;
}

.hero__caption span {
  display: block;
  margin-bottom: -1px;
}

.hero__title {
  font-size: 90px;
  font-weight: 400;
  margin-bottom: 64px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
}

.hero__title span {
  display: block;
  overflow: hidden;
  line-height: 1.05;
}

.hero__title span span {
  display: block;
}

.hero-image-start {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
}

/* PARALLAX SLIDER STYLINGS */
.parallax__slider-wrapper {
  min-height: 100%;
  width: 100vw;
  background-color: #0f0f0f;
  overflow-x: hidden;
}

#image-track > .image {
  width: 30vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  max-width: none;
}

#image-track {
  display: inline-flex;
  gap: 4vmin;
  margin-left: 70%;
  padding-right: 0%;
  min-height: 100vh;
  align-items: center;
}
